<div class="container py-5 bg-white">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-4 d-flex justify-content-center">
            <img class="picture" src="/website1/assets/img/2.jpg" alt="Hands on keyboard">
        </div>
        <div class="col-sm-12 col-md-7 pt-2">
            <h2>The Second Heading <span class="text-secondary">Is Pretty Cool Too</span></h2>
            <p class="fs-5 fw-normal">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis quisquam
                explicabo magni id
                nobis! Modi ab aut repellat, corporis eligendi saepe voluptates, aliquid quisquam deserunt esse fuga
                nostrum sapiente rem.</p>
        </div>
    </div>
</div>